---
---
<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/" id="brand">
      Dream of Clean
    </a>
    <a class="navbar-link" href="#Quote">
      Get a Free Quote
    </a>

  </nav>