---

import { Image } from "astro:assets";

import FrontSteps from "../images/FrontSteps.png";
import PrivacyFence from "../images/PrivacyFence.png";
import Stucco from "../images/Stucco.png";
import Stucco2 from "../images/Stucco2.png";
---

<div class="images">
    <h2>Before and After Photos<h2>
    <div class="image1">
        <h2 class="script">Privacy Fence</h2>
        <Image src={PrivacyFence} alt="Privacy Fence before and after cleaning." />
    </div>
    <div class="image2">
        <h2 class="script">Front Steps</h2>
        <Image src={FrontSteps} alt="Front steps before and after cleaning." />
    </div>
    <div class="image3">
        <h2 class="script">Stucco</h2>
        <Image src={Stucco} alt="Stucco before and after cleaning" />
    </div>
    <div class="image4">
        <h2 class="script">Stucco</h2>
        <Image src={Stucco2} alt="More stucco before and after cleaning" />
    </div>
</div>

<style>
img {
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:1%;
    padding-bottom:2%;
}

.script {
    font-family: 'Arizonia', cursive;
    font-size: 50px;
}
</style>



